body {
  background-image: url(background.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.button {
  background-color: #6FCAD4;
  padding: 10px;
  width: 87px;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  margin-top: 515px;
  transition: .5s
}

.button:hover {
  background-color: #ffffff;
  color: #6FCAD4;
}